{% extends 'computation/base.html' %}

{% block content %}
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

<h3>Login here:</h3><form method="post" action="{% url 'computation:login_user' %}">
{% csrf_token %}
<label for="username">Username:</label>
<br><input type="text" name="username" placeholder="Username">
<br><br><label for="password">Password:</label>
<br><input type="password" name="password" placeholder="Password">
<br><br><input type="submit" name="" value="Login"></form>

{% endblock %}
