{% extends 'computation/base.html' %}

{% block content %}
<h1>Submit a job:</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Executable: </label><br>
  <input type="file" name="executable"><br><br>
  <label>Dataset (optional): </label><br>
  <input type="file" name="dataset"><br><br>
  <label>Enter email to be notified when the job is completed:</label><br>
  <input type="text" name="email"><br><br>
  <label>Select available client (see parameters in Clients Parameters section):</label><br>
  <select name="client">
    <option value="default">Any</option>
    {% for client in active %}
    <option value="{{client}}">{{ client }}</option>
    {% endfor %}
  </select><br><br>
  <button type="submit">Start job</button>
</form>
{% endblock %}
